{% extends "dsfr/header.html" %}
{% load i18n %}
{% url 'index' as home_url %}

{% block brand %}
  {% translate "Home page" as home_page %}
  <a href="{{ home_url }}"
     title="Sites faciles - Gestion des demandes d’instances">
    <p class="fr-logo">
      république
      <br />
      française
    </p>
  </a>
{% endblock brand %}

{% block service_title %}
  <a href="{{ home_url }}" title="Accueil — Sites faciles">
    <p class="fr-header__service-title">
      Sites faciles
      <span class="fr-badge fr-badge--sm fr-badge--green-emeraude">BETA</span>
    </p>
  </a>
{% endblock service_title %}

{% block main_menu %}
  {% include "core/blocks/main_menu.html" %}
{% endblock main_menu %}

{% block header_search %}
{% endblock header_search %}

{% block header_tools %}
  <li>
    {% if user.is_authenticated %}
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="fr-icon-logout-box-r-line fr-btn" type="submit">
          {% translate "Log out" %}
        </button>
      </form>
    {% else %}
      <a class="fr-icon-lock-line fr-btn" href="{% url 'login' %}">{% translate "Log in" %}</a>
    {% endif %}
  </li>
{% endblock header_tools %}
