{% load i18n %}
<div class="fr-header__menu fr-modal"
     id="fr-menu-mobile"
     aria-labelledby="fr-btn-menu-mobile">
  <div class="fr-container">
    <button type="button"
            class="fr-btn--close fr-btn"
            aria-controls="fr-menu-mobile">
      Fermer
    </button>
    <div class="fr-header__menu-links">
    </div>
    {% translate "Main menu" as main_menu_label %}
    <nav role="navigation"
         class="fr-nav"
         id="fr-navigation"
         aria-label="{{ main_menu_label }}">
      <ul class="fr-nav__list">
        <li class="fr-nav__item">
          <a class="fr-nav__link" href="{% url 'index' %}" target="_self">Accueil</a>
        </li>
        <li class="fr-nav__item">
          <a class="fr-nav__link"
             href="https://sites-faciles.beta.numerique.gouv.fr/documentation/"
             target="_self">Documentation</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
