{% extends "core/base.html" %}
{% load i18n static %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
  <h1>
    Accueil
  </h1>

  {% if user.is_authenticated %}
    <ul>
      <li>
        <strong>
          <a href="{% url 'instances:list' %}">Gérer les instances de Sites faciles</a>
        </strong>
      </li>
      <li>
        <a href="{% url 'contacts:list' %}">Gérer les contacts</a>
      </li>
      <li>
        <a href="{% url 'instances:emailconfig_list' %}">Gérer les configurations d’envoi d’emails</a>
      </li>
      <li>
        <a href="{% url 'instances:storageconfig_list' %}">Gérer les configurations de stockage</a>
      </li>
    </ul>
  {% else %}
    <div role="alert" class="fr-alert fr-alert--error">

      <h3 class="fr-alert__title">
        Site de maintenance réservé aux personnes autorisées.
      </h3>

      <p>
        <a href="{% url 'login' %}">{% translate "Log in" %}</a>
      </p>
    </div>
  {% endif %}

{% endblock content %}
