{% extends "core/base.html" %}
{% load static dsfr_tags %}

{% block content %}
  <h1>
    {% if object.name %}
      {{ object.name }}
    {% else %}
      Ajouter une configuration d’envoi d’emails
    {% endif %}
  </h1>

  {% dsfr_django_messages %}

  <form method="post">
    {% csrf_token %}
    {{ form }}
    <div class="fr-input-group fr-my-4w">
      <button type="submit" class="fr-btn" title="Valider">
        Valider ce formulaire
      </button>
      <a href="{% url 'instances:emailconfig_list' %}"
         class="fr-btn fr-btn--secondary"
         title="Annuler">
        Annuler
      </a>
    </div>
  </form>
{% endblock content %}
