{% extends "core/base.html" %}
{% load static i18n dsfr_tags %}

{% block content %}
  <h1>
    {% if object.name %}
      {{ object.name }}
    {% else %}
      {% translate "Add a new instance" %}
    {% endif %}
  </h1>

  {% dsfr_django_messages %}

  <form method="post">
    {% csrf_token %}

    <fieldset class="fr-input-group">
      <legend>
        {% translate "Base fields" %}
      </legend>
      {% dsfr_form_field form.name %}
      {% dsfr_form_field form.main_contact %}
      {% dsfr_form_field form.email_config %}
      {% dsfr_form_field form.auto_upgrade %}
    </fieldset>

    <fieldset class="fr-input-group">
      <legend>
        {% translate "Extra fields" %}
      </legend>
      <p>
        {% translate "These fields will be auto-filled but can be customized if need be." %}
      </p>
      {% dsfr_form_field form.slug %}
      {% dsfr_form_field form.scalingo_application_name %}
      {% dsfr_form_field form.host_url %}
      {% dsfr_form_field form.allowed_hosts %}
      {% dsfr_form_field form.wagtail_password_reset_enabled %}
      {% dsfr_form_field form.git_branch %}

      {% dsfr_form_field form.s3_bucket_name %}
      {% dsfr_form_field form.s3_bucket_region %}
      {% dsfr_form_field form.s3_host %}
      {% dsfr_form_field form.s3_location %}
      {% dsfr_form_field form.s3_key_id %}
      {% dsfr_form_field form.s3_key_secret %}

    </fieldset>
    <div class="fr-input-group fr-my-4w">
      {% translate "Validate this form" as validate_label %}
      <button type="submit" class="fr-btn" title="{{ validate_label }}">
        {{ validate_label }}
      </button>
      {% translate "Cancel" as cancel_label %}
      <a href="{% url 'instances:list' %}"
         class="fr-btn fr-btn--secondary"
         title="{{ cancel_label }}">
        {{ cancel_label }}
      </a>
    </div>
  </form>
{% endblock content %}
