{% extends "core/base.html" %}
{% load static dsfr_tags %}

{% block content %}
  <h1>
    Gérer l’instance « {{ object.name }} »
  </h1>

  {% dsfr_django_messages %}

  <div class="fr-card fr-card--horizontal">
    <div class="fr-card__body">
      <div class="fr-card__content">
        <h2 class="fr-card__title">
          Informations de base
        </h2>
        <div class="fr-card__desc">
          <dl>
            <dt>
              <strong>
                <span class="fr-icon-community-line" aria-hidden="true"></span> Nom de l’instance
              </strong>
            </dt>
            <dd>
              <span id="instance-{{ object.slug }}">
                {{ object.name }} ({{ object.slug }})
              </span>
            </dd>
            <dt>
              <strong>
                <span class="fr-icon-server-line" aria-hidden="true"></span> Application Scalingo
              </strong>
            </dt>
            <dd>
              <ul>
                {% if object.status == "REQUEST" %}
                  <li>
                    {{ object.scalingo_application_name }} {{ object.scalingo_app_status|safe }}
                  </li>
                {% else %}
                  <li>
                    Nom :
                    <a target="_blank"
                       rel="noopener external"
                       href="{{ object.scalingo_app_url }}">{{ object.scalingo_application_name }}</a>
                  </li>
                  <li>
                    Lien public :
                    <a target="_blank"
                       rel="noopener external"
                       href="{{ object.scalingo_instance_url }}">Lien public de l’instance</a>
                  </li>
                  <li>
                    État : {{ object.scalingo_app_status|safe }}
                  </li>
                </ul>
              {% endif %}
            </dd>
            <dt>
              <strong>
                <span class="fr-icon-database-line" aria-hidden="true"></span> Base de données
              </strong>
            </dt>
            <dd>
              État : {{ object.scalingo_db_status|safe }}
            </dd>
            <dt>
              <strong>
                <span class="fr-icon-shield-line" aria-hidden="true"></span> SecNumCloud
              </strong>
            </dt>
            <dd>
              {% if object.use_secnumcloud %}
                Oui
              {% else %}
                Non
              {% endif %}
            </dd>
            <dt>
              <strong>
                <span class="fr-icon-user-line" aria-hidden="true"></span> Contact principal
              </strong>
            </dt>
            <dd>
              {{ object.main_contact }}
            </dd>
          </dl>
        </div>
      </div>
      <div class="fr-card__footer">
        <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--icon-left fr-btns-group--inline-lg">
          <li>
            <a class="fr-btn fr-icon-edit-line"
               href="{% url 'instances:update' object.slug %}"
               title="Modifier les informations"
               aria-describedby="instance-{{ object.slug }}">Modifier les informations</a>
          </li>
          <li>
            <a class="fr-btn fr-icon-delete-line fr-btn--tertiary"
               href="{% url 'instances:delete' object.slug %}"
               title="Supprimer l’instance"
               aria-describedby="instance-{{ object.slug }}">Supprimer l’instance</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="fr-mt-2w">
    <h2>
      Avancement
    </h2>
    <div class="fr-stepper">
      <h2 class="fr-stepper__title">
        {{ object.get_steps.current_step.label }}
        <span class="fr-stepper__state">Étape {{ object.get_steps.current_count }} sur {{ object.get_steps.steps_count }}</span>
      </h2>
      <div class="fr-stepper__steps"
           data-fr-current-step="{{ object.get_steps.current_count }}"
           data-fr-steps="{{ object.get_steps.steps_count }}">
      </div>
      {% if object.get_steps.next_step %}
        <p class="fr-stepper__details">
          <span class="fr-text--bold">Étape suivante :</span> {{ object.get_steps.next_step.label }}
        </p>
      {% endif %}
    </div>

    <div>
      {% if object.status == "REQUEST" %}
        <form method="post" action="{% url 'instances:action' object.slug %}">
          <ul class="fr-btns-group fr-btns-group--right fr-btns-group--icon-left fr-btns-group--inline-md">
            {% csrf_token %}
            <input type="hidden" name="action" value="scalingo_create_app">
            <input type="hidden" name="name" value="{{ object.name }}">
            <li>
              <button class="fr-btn fr-icon-checkbox-line"
                      type="submit"
                      title="Créer l’instance dans Scalingo"
                      aria-describedby="instance-{{ object.slug }}">
                Créer l’instance dans Scalingo
              </button>
            </li>
          </ul>
        </form>
      {% elif object.status == "SCALINGO_APP_CREATED" %}
        <p>
          Voir l’instance sur Scalingo :
        </p>

        <form method="post" action="{% url 'instances:action' object.slug %}">
          <ul class="fr-btns-group fr-btns-group--right fr-btns-group--icon-left fr-btns-group--inline-md">
            {% csrf_token %}
            <input type="hidden" name="action" value="scalingo_provision_db">
            <input type="hidden" name="name" value="{{ object.name }}">
            <li>
              <button class="fr-btn fr-icon-checkbox-line"
                      type="submit"
                      title="Provisionner la base de données"
                      aria-describedby="instance-{{ object.slug }}">
                Provisionner la base de données
              </button>
            </li>
          </ul>
        </form>
      {% elif object.status == "SCALINGO_DB_PROVISIONED" %}
        <p>
          Avant de continuer, attendre que la base de données soit marquée « En cours d’exécution » et rafraîchir de temps en temps.
        </p>

        <form method="post" action="{% url 'instances:action' object.slug %}">
          <ul class="fr-btns-group fr-btns-group--right fr-btns-group--icon-left fr-btns-group--inline-md">
            {% csrf_token %}
            <input type="hidden" name="action" value="scalingo_set_env">
            <input type="hidden" name="name" value="{{ object.name }}">
            <li>
              <button class="fr-btn fr-icon-checkbox-line"
                      type="submit"
                      title="Définir les variables d’environnement"
                      aria-describedby="instance-{{ object.slug }}">
                Définir les variables d’environnement
              </button>
            </li>
          </ul>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock content %}
