{% extends "core/base.html" %}
{% load static i18n dsfr_tags %}

{% block content %}
  <h1>
    Supprimer le compte « {{ object.username }} »
  </h1>
  <form method="post">
    {% csrf_token %}
    <p>
      Voulez-vous vraiment supprimer le compte « {{ object.username }} » ?
    </p>

    {{ form }}
    <div class="fr-input-group fr-my-4w">
      <button type="submit" class="fr-btn" title="Confirmer">
        Confirmer la suppression
      </button>
      <a href="{% url 'instances:scalingo_account_list' %}"
         class="fr-btn fr-btn--secondary"
         title="Annuler">
        Annuler
      </a>
    </div>
  </form>
{% endblock content %}
